@import "../../styles/vars.scss";

.primary {
  width: 100%;
  height: calc(#{$gutter-m} + #{$gutter-xl});
  background: white;
  background: linear-gradient($brand-color, $brand-color-alt);
  border-radius: $gutter-m;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  &:hover {
    // TODO!
    // Make it pretty 💎
  }
}

.disabled {
  @extend .primary;
  opacity: 50%;
  cursor: not-allowed;
}
