@import "../../styles/vars.scss";

.primary {
  width: 100%;
  height: calc(#{$gutter-m} + #{$gutter-xl});
  background: linear-gradient($brand-color, $brand-color-alt);
  box-shadow: $button-box-shadow;
  border-radius: $gutter-s;
  font-size: 16px;
  font-weight: bold;
  color: $white;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  opacity: 1;
  transition: 0.2s opacity ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  @extend .primary;
  opacity: 50%;
  cursor: not-allowed;
}
