@import "../../styles/vars.scss";

.primary {
  width: 100%;
  height: calc(#{$gutter-m} + #{$gutter-xl});
  background: linear-gradient($brand-color, $brand-color-alt);
  box-shadow: $button-box-shadow;
  border-radius: $gutter-s;
  font-size: $generic-font-size;
  font-weight: bold;
  color: $white;
  border: none;
  cursor: pointer;
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  @extend .primary;
  opacity: 0.5;
  cursor: not-allowed;
  transition: 0.2s opacity ease-in-out;
}
