@import "../../styles/vars.scss";

.base {
  min-width: 300px;
  min-height: calc(#{$gutter-xl} + #{$gutter-m});
  background: #15151596;
  border-radius: $gutter-m;
  position: absolute;
  top: $gutter-xl;
  right: $gutter-xl;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 0 6px #262626;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out-top {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
}
