@import "../../../styles/vars.scss";

.base {
  display: inline-block;

  circle {
    fill: #f0f3f7;
  }
  path {
    fill: #8596a6;
  }
}

.error {
  @extend .base;

  circle {
    fill: $error;
  }
  path {
    fill: $white;
  }
}

.success {
  @extend .base;

  circle {
    fill: $success;
  }
  path {
    fill: $white;
  }
}

.warning {
  @extend .base;

  circle {
    fill: $warning;
  }
  path {
    fill: $white;
  }
}
