@import "../../styles/vars.scss";

.form {
  border-radius: $gutter-s;
  border: none;
  background: $input-form-bg;
  padding: $gutter-m;
  width: 240px;
  color: #252525;
  font-size: 16px;
  ::placeholder {
    color: #8596a6;
  }
}
