// Colors

$brand-color: #10a2ea;
$brand-color-alt: #0f99e8;
$shadow: rgba(51, 51, 51, 0.9);
$input-form-bg: #f0f3f7;

// Gutter based on 8px grid

$gutter-s: 4px;
$gutter-m: 8px;
$gutter-l: 16px;
$gutter-xl: 32px;
