// Colors

$brand-color: #10a2ea;
$brand-color-alt: #0f99e8;
$contrast-color: rgba(51, 51, 51, 0.9);
$shadow-color: rgba(0, 0, 0, 0.1);
$box-shadow: 0 1px 2px 0 $shadow-color, 0 1px 8px 0 $shadow-color;
$button-box-shadow: 0 1px 2px 0 rgba(16, 162, 234, 0.3);
$input-form-bg: #f0f3f7;
$white: #ffffff;
$success: #0bce35;
$warning: #ffb11f;
$error: #ff465c;

// Gutter based on 8px grid

$gutter-s: 4px;
$gutter-m: 8px;
$gutter-l: 16px;
$gutter-xl: 32px;

// Font sizes

$generic-font-size: 16px;
